.containerLogo {
  display: flex;
}
.logo {
  color: white;
  width: 45px;
  height: 45px;
  margin: 0px 20px 0px 20px;
}
.textLogo {
  color: white;
  margin-right: 100px;
  margin-bottom: 0px;
  font-family: 'Pacifico', cursive;
  font-size: 28px;
}