@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&display=swap');
.envolveTextos{
    margin-bottom: 30px;
}
.descricaoLocal{
    font-size: 25px;
    font-family: 'Roboto';
}
.texto{
    margin-right: 70px;
    margin-left: 70px;
}