.boxCarousel {
  width: 1366px;
  height: auto;
}
.imageCarousel {
  position: relative;
  width: 1349px;
  height: 382px;
  position: relative;
}
.imageCarousel > * {
  z-index: 10;
  position: relative;
}
.imageCarousel::after,
.imageCarousel::before {
content: "";
display: block;
margin: auto;
height: 5%;
background-image: linear-gradient(0deg, white 0%, transparent 100%);
position: absolute;
left: 0;
right: 0;
}
.imageCarousel::before {
  top: 0;
  height: 100%;
  background: rgba(255,255,255,0.1);
}
.imageCarousel::after {
  bottom: 0;
  background: linear-gradient(0deg, white 0%, transparent 100%);
}

.arrowsCarousel {
  color: white;
  opacity: 75%;
  height: 70px;
  width: 70px;
}
.divNextArrow {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.divPrevArrow {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}